* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  width: 200px;
  height: 100vh;
  float: left;
  /* display: inline; */
  margin: 0;
  margin-right: 10px;
  background-color: rgb(61, 69, 78);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  font-weight: 600;
}

.footer {
  padding: 14px 25px;
}


.usermenu {
  height: 10vh;
  padding: 20px;
  text-align: right;
}

.main {
  background-color: rgb(233, 239, 240);
  height: 90vh;
}